In [1]:
import pandas as pd
import time
import re
import requests
from bs4 import BeautifulSoup
import random
import numpy as np

Loading databases

In [2]:
listdb1 = pd.read_csv('autocasion_unique_ind_with_links1.csv')
listdb2 = pd.read_csv('autocasion_unique_ind_with_links2.csv')
listdb3 = pd.read_csv('autocasion_unique_ind_with_links3.csv')
listdb4 = pd.read_csv('autocasion_unique_ind_with_links4.csv')
listdb5 = pd.read_csv('autocasion_unique_ind_with_links5.csv')
listdb6 = pd.read_csv('autocasion_unique_ind_with_links6.csv')
listdb7 = pd.read_csv('autocasion_unique_ind_with_links7.csv')
listdb8 = pd.read_csv('autocasion_unique_ind_with_links8.csv')

Merging databases

In [3]:
main_car_database = pd.concat( [listdb1,listdb2,listdb3,listdb4,listdb5,listdb6,listdb7,listdb8],
    axis=0,
    join="outer",
    ignore_index=True,
    keys=None,
    levels=None,
    names=None,
    verify_integrity=False,
    copy=True,
)

In [4]:
main_car_database.head(3)

,Unnamed: 0,Maker,Model,Description,Name,Year,City,Year2,Color,Power,...,pesomax,numpuertas,numplazas,cilindrada,numcilindros,velmax,consurb,conscarr,consmed,emisiones
0,0,NISSAN,Micra,IG-T S&S Acenta 90,NISSAN Micra IG-T S&S Acenta 90,2018,Las Palmas,12/2018,Azul,90,...,(kg)1.530,puertas5,plazas5,(cm3)898,cilindros3,(km/h)175,"Urbano (l/100 km)6,30","Carretera (l/100 km)4,50","Medio (l/100 km)5,20",CO2 (g/km)118
1,1,RENAULT,Clio,1.5dCi eco2 S&S Energy Business 90,RENAULT Clio 1.5dCi eco2 S&S Energy Business 90,2016,Granada,06/2016,Blanco,90,...,(kg)1.658,puertas5,plazas5,(cm3)1.461,cilindros4,(km/h)178,"Urbano (l/100 km)4,10","Carretera (l/100 km)3,30","Medio (l/100 km)3,60",CO2 (g/km)93
2,2,KIA,Cee´d,1.4CRDI WGT Business 90,KIA Cee´d 1.4CRDI WGT Business 90,2017,Sevilla,05/2017,Negro,90,...,(kg)1.910,puertas5,plazas5,(cm3)1.396,cilindros4,(km/h)173,"Urbano (l/100 km)5,10","Carretera (l/100 km)3,70","Medio (l/100 km)4,20",CO2 (g/km)109

Validating duplicates

In [5]:
main_car_database[['Name','Year','Color','Kilometers']].value_counts()

Name                               Year  Color   Kilometers
HONDA Civic 1.6 i-DTEC Sport       2014  Rojo    101.325 km    9
BMW Serie 1 116d                   2015  Blanco  95.291 km     8
TOYOTA Yaris 1.5 Active Tech       2019  Blanco  42.001 km     8
PEUGEOT 2008 1.6 e-HDI Allure 115  2015  Blanco  122.782 km    8
TOYOTA Auris 120T Active           2017  Azul    49.920 km     8
                                                              ..
NISSAN Micra IG-T N-Connecta 100   2019  NEGRO   33.500 km     1
NISSAN Micra IG-T S&S Acenta 90    2018  Azul    51.773 km     1
                                         Blanco  54.285 km     1
                                                 64.609 km     1
VOLVO V60 D4 Momentum 181          2014  Gris    156.866 km    1
Length: 3474, dtype: int64

In [6]:
# We have some duplicateds,basic steps same specs

In [7]:
#Different links
main_car_database['Link'][(main_car_database['Name'] == 'HONDA Civic 1.6 i-DTEC Sport') & (main_car_database['Kilometers'] == '101.325 km')& (main_car_database['Color'] == 'Rojo')].value_counts()
#TOYOTA Aygo 1.0 70 x-wave 33.031 km

/coches-segunda-mano/honda-civic-ocasion/civic-1-6-i-dtec-sport-ref6320153    1
/coches-segunda-mano/honda-civic-ocasion/civic-1-6-i-dtec-sport-ref6318490    1
/coches-segunda-mano/honda-civic-ocasion/civic-1-6-i-dtec-sport-ref6318785    1
/coches-segunda-mano/honda-civic-ocasion/civic-1-6-i-dtec-sport-ref6318932    1
/coches-segunda-mano/honda-civic-ocasion/civic-1-6-i-dtec-sport-ref6318489    1
/coches-segunda-mano/honda-civic-ocasion/civic-1-6-i-dtec-sport-ref6318488    1
/coches-segunda-mano/honda-civic-ocasion/civic-1-6-i-dtec-sport-ref6319092    1
/coches-segunda-mano/honda-civic-ocasion/civic-1-6-i-dtec-sport-ref6319159    1
/coches-segunda-mano/honda-civic-ocasion/civic-1-6-i-dtec-sport-ref6318670    1
Name: Link, dtype: int64

In [8]:
#Same specs,diff links just changing City (they are the same)
main_car_database[(main_car_database['Name'] == 'HONDA Civic 1.6 i-DTEC Sport') & (main_car_database['Kilometers'] == '101.325 km')& (main_car_database['Color'] == 'Rojo')]

,Unnamed: 0,Maker,Model,Description,Name,Year,City,Year2,Color,Power,...,pesomax,numpuertas,numplazas,cilindrada,numcilindros,velmax,consurb,conscarr,consmed,emisiones
2351,69,HONDA,Civic,1.6 i-DTEC Sport,HONDA Civic 1.6 i-DTEC Sport,2014,Barcelona,04/2014,Rojo,120,...,(kg)1.870,puertas5,plazas5,(cm3)1.597,cilindros4,(km/h)207,"Urbano (l/100 km)4,10","Carretera (l/100 km)3,50","Medio (l/100 km)3,70",CO2 (g/km)98
2762,480,HONDA,Civic,1.6 i-DTEC Sport,HONDA Civic 1.6 i-DTEC Sport,2014,Córdoba,04/2014,Rojo,120,...,(kg)1.870,puertas5,plazas5,(cm3)1.597,cilindros4,(km/h)207,"Urbano (l/100 km)4,10","Carretera (l/100 km)3,50","Medio (l/100 km)3,70",CO2 (g/km)98
3140,32,HONDA,Civic,1.6 i-DTEC Sport,HONDA Civic 1.6 i-DTEC Sport,2014,Sevilla,04/2014,Rojo,120,...,(kg)1.870,puertas5,plazas5,(cm3)1.597,cilindros4,(km/h)207,"Urbano (l/100 km)4,10","Carretera (l/100 km)3,50","Medio (l/100 km)3,70",CO2 (g/km)98
3484,376,HONDA,Civic,1.6 i-DTEC Sport,HONDA Civic 1.6 i-DTEC Sport,2014,Madrid,04/2014,Rojo,120,...,(kg)1.870,puertas5,plazas5,(cm3)1.597,cilindros4,(km/h)207,"Urbano (l/100 km)4,10","Carretera (l/100 km)3,50","Medio (l/100 km)3,70",CO2 (g/km)98
3733,625,HONDA,Civic,1.6 i-DTEC Sport,HONDA Civic 1.6 i-DTEC Sport,2014,Murcia,04/2014,Rojo,120,...,(kg)1.870,puertas5,plazas5,(cm3)1.597,cilindros4,(km/h)207,"Urbano (l/100 km)4,10","Carretera (l/100 km)3,50","Medio (l/100 km)3,70",CO2 (g/km)98
4634,173,HONDA,Civic,1.6 i-DTEC Sport,HONDA Civic 1.6 i-DTEC Sport,2014,Albacete,04/2014,Rojo,120,...,(kg)1.870,puertas5,plazas5,(cm3)1.597,cilindros4,(km/h)207,"Urbano (l/100 km)4,10","Carretera (l/100 km)3,50","Medio (l/100 km)3,70",CO2 (g/km)98
5341,195,HONDA,Civic,1.6 i-DTEC Sport,HONDA Civic 1.6 i-DTEC Sport,2014,Castellón,04/2014,Rojo,120,...,(kg)1.870,puertas5,plazas5,(cm3)1.597,cilindros4,(km/h)207,"Urbano (l/100 km)4,10","Carretera (l/100 km)3,50","Medio (l/100 km)3,70",CO2 (g/km)98
5788,642,HONDA,Civic,1.6 i-DTEC Sport,HONDA Civic 1.6 i-DTEC Sport,2014,Valencia,04/2014,Rojo,120,...,(kg)1.870,puertas5,plazas5,(cm3)1.597,cilindros4,(km/h)207,"Urbano (l/100 km)4,10","Carretera (l/100 km)3,50","Medio (l/100 km)3,70",CO2 (g/km)98
5790,644,HONDA,Civic,1.6 i-DTEC Sport,HONDA Civic 1.6 i-DTEC Sport,2014,Granada,04/2014,Rojo,120,...,(kg)1.870,puertas5,plazas5,(cm3)1.597,cilindros4,(km/h)207,"Urbano (l/100 km)4,10","Carretera (l/100 km)3,50","Medio (l/100 km)3,70",CO2 (g/km)98

In [9]:
#Creating Column to identify repeated cars
main_car_database['Class']= main_car_database['Name']+main_car_database['Year'].astype(str)+main_car_database['Kilometers']

In [10]:
#Cars qty not repeated
len(main_car_database['Class'].unique())

3464

In [11]:
main_car_database.Class.drop_duplicates()

0            NISSAN Micra IG-T S&S Acenta 90201851.773 km
1       RENAULT Clio 1.5dCi eco2 S&S Energy Business 9...
2          KIA Cee´d 1.4CRDI WGT Business 90201771.565 km
3       RENAULT Clio 1.5dCi eco2 Energy Authentique 75...
4                OPEL Corsa 1.4 Selective 90201884.340 km
                              ...
5828    FORD Focus 1.0 Ecoboost Auto-S&S ST-Line 12520...
5847    RENAULT Mégane 1.2 TCe Energy Tech Road 97kW20...
5850    FORD Fiesta 1.0 EcoBoost S/S Titanium 10020174...
5852    RENAULT Clio Sport Tourer 1.5dCi Energy Busine...
5854           FORD Focus 1.5TDCi Trend+ 120201893.736 km
Name: Class, Length: 3464, dtype: object

In [12]:
#Droping row duplicated in column Class
main_car_database.drop_duplicates(subset=['Class'], keep='first', inplace=True, ignore_index=False)

In [13]:
main_car_database

,Unnamed: 0,Maker,Model,Description,Name,Year,City,Year2,Color,Power,...,numpuertas,numplazas,cilindrada,numcilindros,velmax,consurb,conscarr,consmed,emisiones,Class
0,0,NISSAN,Micra,IG-T S&S Acenta 90,NISSAN Micra IG-T S&S Acenta 90,2018,Las Palmas,12/2018,Azul,90,...,puertas5,plazas5,(cm3)898,cilindros3,(km/h)175,"Urbano (l/100 km)6,30","Carretera (l/100 km)4,50","Medio (l/100 km)5,20",CO2 (g/km)118,NISSAN Micra IG-T S&S Acenta 90201851.773 km
1,1,RENAULT,Clio,1.5dCi eco2 S&S Energy Business 90,RENAULT Clio 1.5dCi eco2 S&S Energy Business 90,2016,Granada,06/2016,Blanco,90,...,puertas5,plazas5,(cm3)1.461,cilindros4,(km/h)178,"Urbano (l/100 km)4,10","Carretera (l/100 km)3,30","Medio (l/100 km)3,60",CO2 (g/km)93,RENAULT Clio 1.5dCi eco2 S&S Energy Business 9...
2,2,KIA,Cee´d,1.4CRDI WGT Business 90,KIA Cee´d 1.4CRDI WGT Business 90,2017,Sevilla,05/2017,Negro,90,...,puertas5,plazas5,(cm3)1.396,cilindros4,(km/h)173,"Urbano (l/100 km)5,10","Carretera (l/100 km)3,70","Medio (l/100 km)4,20",CO2 (g/km)109,KIA Cee´d 1.4CRDI WGT Business 90201771.565 km
3,3,RENAULT,Clio,1.5dCi eco2 Energy Authentique 75,RENAULT Clio 1.5dCi eco2 Energy Authentique 75,2014,Barcelona,12/2014,Plata\n / Metalizado,75,...,puertas5,plazas5,(cm3)1.461,cilindros4,(km/h)168,"Urbano (l/100 km)4,30","Carretera (l/100 km)3,20","Medio (l/100 km)3,60",CO2 (g/km)85,RENAULT Clio 1.5dCi eco2 Energy Authentique 75...
4,4,OPEL,Corsa,1.4 Selective 90,OPEL Corsa 1.4 Selective 90,2018,Málaga,05/2018,Gris,90,...,puertas5,plazas5,(cm3)1.398,cilindros4,(km/h)175,"Urbano (l/100 km)6,50","Carretera (l/100 km)4,30","Medio (l/100 km)5,10",CO2 (g/km)120,OPEL Corsa 1.4 Selective 90201884.340 km
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5828,682,FORD,Focus,1.0 Ecoboost Auto-S&S ST-Line 125,FORD Focus 1.0 Ecoboost Auto-S&S ST-Line 125,2017,Albacete,02/2017,Azul,125,...,puertas5,plazas5,(cm3)999,cilindros3,(km/h)-,"Urbano (l/100 km)5,70","Carretera (l/100 km)4,10","Medio (l/100 km)4,70",CO2 (g/km)108,FORD Focus 1.0 Ecoboost Auto-S&S ST-Line 12520...
5847,701,RENAULT,Mégane,1.2 TCe Energy Tech Road 97kW,RENAULT Mégane 1.2 TCe Energy Tech Road 97kW,2017,Madrid,10/2017,-,130,...,puertas5,plazas5,(cm3)1.197,cilindros4,(km/h)197,"Urbano (l/100 km)6,80","Carretera (l/100 km)4,50","Medio (l/100 km)5,30",CO2 (g/km)119,RENAULT Mégane 1.2 TCe Energy Tech Road 97kW20...
5850,704,FORD,Fiesta,1.0 EcoBoost S/S Titanium 100,FORD Fiesta 1.0 EcoBoost S/S Titanium 100,2017,Madrid,02/2017,Azul,100,...,puertas5,plazas5,(cm3)998,cilindros3,(km/h)183,"Urbano (l/100 km)5,40","Carretera (l/100 km)3,60","Medio (l/100 km)4,30",CO2 (g/km)110,FORD Fiesta 1.0 EcoBoost S/S Titanium 10020174...
5852,706,RENAULT,Clio,Sport Tourer 1.5dCi Energy Business 55kW,RENAULT Clio Sport Tourer 1.5dCi Energy Busine...,2019,Madrid,02/2019,Blanco,75,...,puertas5,plazas5,(cm3)1.461,cilindros4,(km/h)168,"Urbano (l/100 km)4,30","Carretera (l/100 km)3,20","Medio (l/100 km)3,60",CO2 (g/km)106,RENAULT Clio Sport Tourer 1.5dCi Energy Busine...
5854,708,FORD,Focus,1.5TDCi Trend+ 120,FORD Focus 1.5TDCi Trend+ 120,2018,Valencia,10/2018,Negro,120,...,puertas5,plazas5,(cm3)1.498,cilindros4,(km/h)-,"Urbano (l/100 km)4,30","Carretera (l/100 km)3,40","Medio (l/100 km)3,80",CO2 (g/km)105,FORD Focus 1.5TDCi Trend+ 120201893.736 km

In [14]:
main_car_database[(main_car_database['Name'] == 'HONDA Civic 1.6 i-DTEC Sport') & (main_car_database['Kilometers'] == '101.325 km')& (main_car_database['Color'] == 'Rojo')]

,Unnamed: 0,Maker,Model,Description,Name,Year,City,Year2,Color,Power,...,numpuertas,numplazas,cilindrada,numcilindros,velmax,consurb,conscarr,consmed,emisiones,Class
2351,69,HONDA,Civic,1.6 i-DTEC Sport,HONDA Civic 1.6 i-DTEC Sport,2014,Barcelona,04/2014,Rojo,120,...,puertas5,plazas5,(cm3)1.597,cilindros4,(km/h)207,"Urbano (l/100 km)4,10","Carretera (l/100 km)3,50","Medio (l/100 km)3,70",CO2 (g/km)98,HONDA Civic 1.6 i-DTEC Sport2014101.325 km

In [15]:
#Cars qty not repeated
len(main_car_database['Class'].unique())

3464

In [16]:
main_car_database.isnull().sum()

Unnamed: 0      0
Maker           0
Model           0
Description     1
Name            0
Year            0
City            0
Year2           0
Color           0
Power           0
Motor           0
Chasis          0
Kilometers      0
Fuel            0
Price           0
Link            0
largo           0
ancho           0
alto            0
batalla         0
pesomax         0
numpuertas      0
numplazas       0
cilindrada      0
numcilindros    0
velmax          0
consurb         0
conscarr        0
consmed         0
emisiones       0
Class           0
dtype: int64

In [17]:
#for the moment no need to drop this 3 lines, edit it
main_car_database['Description'][main_car_database['Description'].isnull() == True] = "Not avaliable"

C:\Users\SERGIO~1\AppData\Local\Temp/ipykernel_13828/3024037550.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_car_database['Description'][main_car_database['Description'].isnull() == True] = "Not avaliable"

In [18]:
main_car_database[main_car_database['Description'] == 'Not avaliable']

,Unnamed: 0,Maker,Model,Description,Name,Year,City,Year2,Color,Power,...,numpuertas,numplazas,cilindrada,numcilindros,velmax,consurb,conscarr,consmed,emisiones,Class
5100,639,PEUGEOT,iOn,Not avaliable,PEUGEOT iOn,2017,Toledo,07/2017,Blanco,66,...,puertas5,plazas4,(cm3)0,cilindros-,(km/h)130,"Urbano (l/100 km)0,00","Carretera (l/100 km)0,00","Medio (l/100 km)0,00",CO2 (g/km)-,PEUGEOT iOn201757.360 km

In [19]:
# to many chasis for each model
#main_car_database[['Chasis','Model']][main_car_database['Model'] == 'C-Elysée']

In [20]:
#Dont drop, we will need to reclasify it

main_car_database[main_car_database['Chasis'].isnull() == True]

Empty DataFrame
Columns: [Unnamed: 0, Maker, Model, Description, Name, Year, City, Year2, Color, Power, Motor, Chasis, Kilometers, Fuel, Price, Link, largo, ancho, alto, batalla, pesomax, numpuertas, numplazas, cilindrada, numcilindros, velmax, consurb, conscarr, consmed, emisiones, Class]
Index: []

[0 rows x 31 columns]

In [21]:
main_car_database.columns

Index(['Unnamed: 0', 'Maker', 'Model', 'Description', 'Name', 'Year', 'City',
       'Year2', 'Color', 'Power', 'Motor', 'Chasis', 'Kilometers', 'Fuel',
       'Price', 'Link', 'largo', 'ancho', 'alto', 'batalla', 'pesomax',
       'numpuertas', 'numplazas', 'cilindrada', 'numcilindros', 'velmax',
       'consurb', 'conscarr', 'consmed', 'emisiones', 'Class'],
      dtype='object')

In [22]:
# We have 
len(main_car_database['Model'].unique())

182

In [23]:
# We have 
main_car_database['Model'].unique()

array(['Micra', 'Clio', 'Cee´d', 'Corsa', 'Insignia', '500', 'C3',
       'Mazda3', '500L', 'Serie 2', 'Captur', 'Polo', 'Mégane', 'Duster',
       'Tourneo Courier', 'Mondeo', 'Fabia', 'Vitara', 'León', 'Golf',
       '4', 'Talisman', 'Mazda6', 'Ibiza', 'Sandero', 'Logan', 'Astra',
       'Swift', 'Octavia', 'Scénic', 'Cherokee', '208', 'Auris', 'Tipo',
       'Fiesta', 'Qubo', 'ix20', 'Picanto', 'Carens', 'ix35',
       'Tourneo Connect', 'V40', 'Forfour', 'Juke', 'Ka', 'i30', '2008',
       'Focus', 'Clase B', '308', 'Yaris', 'Serie 1', '108', 'Fortwo',
       'Aygo', 'B-Max', 'ROMEO MiTo', 'Rio', 'Mokka', 'Dokker',
       'Countryman', 'Verso', 'C4 Cactus', 'Pulsar', 'Space Star',
       'Scirocco', 'Serie 3', 'Adam', 'Spaceback', 'i20 Active', 'C1',
       'Mazda2', 'León X-perience', '508', 'Q50', 'Crossland', 'C-Elysée',
       'C3 Aircross', 'C4', 'Tiguan', 'Zoe', 'CR-V', 'Mini', 'C-Max',
       'Passat', 'Kuga', 'i20', 'Sportage', 'CX-5', 'Optima', 'Kadjar',
       '3', 'Punto', 'Elantra', 'Cabrio', 'Arona', 'EcoSport', 'Zafira',
       'HR-V SUV', 'Qashqai', 'Rapid', 'i10', 'Note', 'Karl', 'A1', 'A3',
       'Avensis', 'Korando', '500X', 'Rifter', 'Tivoli', 'Niro', 'Twingo',
       'C4 Aircross', 'Yeti', 'ROMEO Giulietta', 'Panda', 'Laguna',
       'Touran', 'i40', 'Jetta', '5008', 'Clase C', 'Clase A', 'ASX',
       'Alhambra', '3008', 'XLV', 'Toledo', '5', 'Lodgy', 'V60', 'Tucson',
       'Civic', 'Ceed', 'A4', 'Kangoo M1', 'Grandland X', '4008', 'Soul',
       'Beetle', 'Stonic', 'Altea', 'Citan', 'Mini Clubman', 'Ateca',
       'CX-3', 'X-Trail', 'Passat CC', 'Captiva', 'Twizy', 'Mii',
       'ROMEO Giulia', 'DS5', 'X1', 'Rexton', 'C5', 'Fluence',
       'SX4 S-Cross', 'Antara', 'V40 Cross Country', 'Jimny', 'Kona',
       'Up!', 'S60', 'Bravo', 'Venga', 'Superb', 'Meriva', 'Citigo', 'XE',
       'Outlander', 'XV', 'RAV-4', 'Jazz', 'Mazda5', 'S-Max', '508 RXH',
       'Leaf', 'Berlingo M1', 'iOn', 'CT'], dtype=object)

In [24]:
#Analazing models
#main_car_database[main_car_database['Model'] == '3' ] # Model DS 3
#main_car_database[main_car_database['Model'] == '4' ] # Model DS 4
#main_car_database[main_car_database['Model'] == 'Up!' ] # Model DS 4

In [25]:
len(main_car_database['Maker'].unique())

34

In [26]:
main_car_database['Maker'].unique()

array(['NISSAN', 'RENAULT', 'KIA', 'OPEL', 'FIAT', 'CITROEN', 'MAZDA',
       'BMW', 'VOLKSWAGEN', 'DACIA', 'FORD', 'SKODA', 'SUZUKI', 'SEAT',
       'DS', 'JEEP', 'PEUGEOT', 'TOYOTA', 'HYUNDAI', 'VOLVO', 'SMART',
       'MERCEDES-BENZ', 'ALFA', 'MINI', 'ABARTH', 'MITSUBISHI',
       'INFINITI', 'HONDA', 'AUDI', 'SSANGYONG', 'CHEVROLET', 'JAGUAR',
       'SUBARU', 'LEXUS'], dtype=object)

In [27]:
main_car_database['Year'].unique()

array([2018, 2016, 2017, 2014, 2021, 2015, 2019, 2020, 2022, 2007],
      dtype=int64)

In [28]:
main_car_database['Color'].unique()

array(['Azul', 'Blanco', 'Negro',
       'Plata\n                     / Metalizado', 'Gris', 'Plata',
       'Blanco Gelato sólido', 'Azul\n                     / Metalizado',
       'Arctic White (sólido)', 'Verde',
       'gris aluminio\n                     / Metalizado', 'Beige',
       'Rojo', 'TELA GRIS', 'Blanco Puro', 'Granate', '-',
       'Gris Platino (metalizado)', 'BLAMCO GLACIAR', 'AZUL',
       'Blanco\n                     / Metalizado', 'Marrón', 'Perla',
       'Gris Plata', 'Azul Cosmos (metalizado)', 'Sparkling Silver (KCS)',
       'Negro\n                     / Metalizado',
       'Azul Báltico (sólido)',
       'IMPECABLE\n                     / Metalizado',
       'Blanco Lipizan (opaco)',
       'Rojo\n                     / Metalizado',
       'Gris Magnesio metalizado', 'Blanco Classic (sólido)',
       'Blanco Gelato (Sólido)',
       'Gris\n                     / Metalizado', 'Blanco (sólido)',
       'Blanco Alpino (brillante)', 'White Sand (metalizado)',
       'Gris-negro', 'Naranja', 'BLANCO',
       'Marrón\n                     / Metalizado',
       'Blanco Glaciar (opaco)', 'Gris claro',
       'Midnight Black (metalizado)', 'GRIS',
       'MARFIL DELHI TECHO NEGRO\n                     / Metalizado',
       'Gris Pompei metalizado', 'Amarillo Pegaso techo negro Onyx',
       'Negro tenore', 'Clear White (sólido)', 'az', 'Oro', 'Amarillo',
       'OFERTA!!  IMPECABLE!!\n                     / Metalizado',
       'EVL  GRIS PLATINIUM',
       'Gris Maestro (metalizado)\n                     / Metalizado',
       'Blanco Classic (sólida)', 'NEGRO PERLA NAC',
       'Rojo Classic (sólida)', 'NEGRO', 'VARIAS UNIDADES',
       'automatico navegador poco consumo acabdo gt line',
       'Marron metalizado', 'Blanco Banquise (opaco)',
       'Rojo Ultimate (metalizado)', 'Negro Mica (metalizado)',
       'Marrón Beluga metalizado\n                     / Metalizado',
       'Mica\n                     / Metalizado', 'CLARO',
       'Gris Tenorita', 'Verde Lattementa (Sólido)',
       'Blanco Lipazan techo Gris Gallium', 'Rojo Absolute (nacarado)',
       'blanco\n                     / Metalizado', 'Violeta',
       'Rojo Fuego (metalizado)', 'NEGRO PERLA', 'Passion Red (mica)',
       'Rojo emoción (suave)', 'Plata Brillante Metalizado',
       'Gris Oscuro', 'Azul claro', 'MICRON GREY', 'ROJO',
       'Granate\n                     / Metalizado',
       'Gris Iridio (metalizado)',
       'Blanco Alpino (brillante)\n                     / Metalizado',
       'Beige\n                     / Metalizado', 'océano', 'VERDE',
       'Perla Sabbia (metalizado)', 'bitono', 'PASSION RED',
       'Negro Vesuvio metalizado\n                     / Metalizado',
       'Rojo emoción', 'Cassa White (sólido)', 'gris urano',
       'Midnight Black Metalizada', '1026JYS',
       'ANTRACITA\n                     / Metalizado',
       'Negro Mágico efecto Perla (metalizado)', 'BANQUISE',
       'Blanco Alpino (sólido)', 'Cemento',
       'Plata Brilliant\n                     / Metalizado',
       'BLANCO PERLADO', 'AZUL LAZULLI', 'NACARADO', 'polar white',
       'ROJO CEREZA', 'Blanco Glaciar', 'BRONCE',
       'PERLA SABIA\n                     / Metalizado',
       'Plata Urban (metalizado)',
       'GRIS PLATA\n                     / Metalizado', 'Blanco Banquise',
       'BLANCO NACARADO', 'SPARKLING SILVER', 'GR - GRIS', 'TRICAPA',
       'Naranja\n                     / Metalizado', 'R51 - ROJO FLAME',
       'Blanco Nacarado', 'Negro Onyx (sólido)',
       'Aurora Black (metalizado)', 'GRIS GRAFITO',
       'MAGENTA\n                     / Metalizado',
       'Gris Grafito (metalizada)', 'VARIOS', 'Gris Acero (metalizado)',
       'Espresso de Medianoche (sólido)', 'MARFIL', 'BLANCO CLASSIC',
       'Rojo Pasión', 'Pintura sólida Blanco',
       'Bianco Ghiaccio (tricapa)', 'Cassa White',
       'muy cuidado poco consumo recien revisado', 'BLANCO GELATO',
       'Plateado', 'Gris Maestro (metalizado)',
       'Negro Vesuvio (metalizado)', 'Bitono Gris Pista y Gris Capovolo',
       'Dragon Red/Phantom Black (mica)', 'Cuarzo',
       'Energy Orange (metalizado)', 'Azul noche', 'BLACK EDITION',
       'Gris Pompei (metalizado)', 'Azul Nébula (metalizada)',
       'Azul Ultramar (metalizado)', 'Blanco Perlado',
       'Blanco Bila (sólido)', 'Pintura exterior Blanco Gelato', 'PLATA',
       'Gris Artense (Metalizado)', 'NEGRO PLATINO',
       'Azul Lazulli (metalizado)', 'Gris Colosseo (metalizado)',
       'Plata Estelar', 'Maestro', 'BLANCO BANQUISE',
       'Oscuro con techo color granate',
       'Retrovisores y techo negro como el interior',
       'Blanco Lásser Sólido',
       'AZUL IMPACT\n                     / Metalizado',
       'Gris Grafito (met)', 'Oscuro', 'Azul Kinetic',
       'Blanco Candy (suave)', 'AZUL PERLA',
       'Negro Obsidian\n                     / Metalizado',
       'Gris Vapor (metalizado)',
       'CORAL\n                     / Metalizado', 'Plata (mealizado)',
       'oscuro metalizado\n                     / Metalizado',
       'Platinum Silver (metalizado)', 'Power Blue (metalizado)',
       'Gris Técnico (metalizado)', 'Gris Titanium (metalizado)',
       'GRIS OSCURO',
       'Negro Brillante + Plata Hielo\n                     / Metalizado',
       'Blanco (suave)', 'Gris Aluminio Metalizado',
       'Rojo Deseo (metalizado)', 'Gris Urano',
       'Plata Brillante (metalizado)', 'BL - BLANCO', 'NEGRO GRAFITO',
       'PLATA FLORETE METALIZADO - PLATA FLORETE METALIZADO',
       'Negro Profundo (efecto perla)', 'Blue Glacier (metalizado)',
       'Azul Noche (metalizado)', 'SUPER CUIDADO COCHE ALTO POCO CONSUMO',
       'Verde\n                     / Metalizado',
       'Blanco Banquise (sólido)'], dtype=object)

In [29]:
main_car_database['City'].unique()

array(['Las Palmas', 'Granada', 'Sevilla', 'Barcelona', 'Málaga',
       'Madrid', 'Lugo', 'Valencia', 'Zaragoza', 'Badajoz', 'Salamanca',
       'Vizcaya', 'Alicante', 'Valladolid', 'Pontevedra', 'Cantabria',
       'Cádiz', 'Girona', 'La Coruña', 'Huesca', 'Navarra', 'Castellón',
       'Murcia', 'Zamora', 'Asturias', 'Tarragona', 'Burgos', 'Córdoba',
       'Toledo', 'Ciudad Real', 'Albacete', 'Guipúzcoa', 'Huelva',
       'Almería', 'Jaén', 'Orense', 'Cáceres', 'Palencia', 'Soria',
       'Islas Baleares', 'Lleida', 'La Rioja', 'León', 'Segovia',
       'Cuenca', 'Álava'], dtype=object)

In [30]:
#Needs to me standarized
main_car_database['Fuel'].unique()

array(['Gasolina', 'Diesel', 'Gasolina y corriente eléctrica',
       'Gasolina/gas', 'Corriente eléctrica',
       'Diesel y corriente eléctrica'], dtype=object)

In [31]:
main_car_database['Motor'].unique()

array(['Manual', 'Automático'], dtype=object)

In [32]:
#Needs to be reclassified in more standard
main_car_database['Chasis'].unique()

array(['Berlina', 'Monovolumen', 'Todo Terreno', 'Stationwagon', 'Coupe',
       'Convertible'], dtype=object)

In [33]:
main_car_database.groupby(['Chasis']).agg(Count=('Model', 'size'))

              Count
Chasis
Berlina        2321
Convertible      25
Coupe             6
Monovolumen     284
Stationwagon    324
Todo Terreno    504

In [34]:
#For database with out all specs
# main_car_database[main_car_database['Chasis'] == 'Familiar'].sample(3)

In [35]:
#Validating color details for each one
for color in main_car_database['Color'].unique():
    print(color)

Azul
Blanco
Negro
Plata
                     / Metalizado
Gris
Plata
Blanco Gelato sólido
Azul
                     / Metalizado
Arctic White (sólido)
Verde
gris aluminio
                     / Metalizado
Beige
Rojo
TELA GRIS
Blanco Puro
Granate
-
Gris Platino (metalizado)
BLAMCO GLACIAR
AZUL
Blanco
                     / Metalizado
Marrón
Perla
Gris Plata
Azul Cosmos (metalizado)
Sparkling Silver (KCS)
Negro
                     / Metalizado
Azul Báltico (sólido)
IMPECABLE
                     / Metalizado
Blanco Lipizan (opaco)
Rojo
                     / Metalizado
Gris Magnesio metalizado
Blanco Classic (sólido)
Blanco Gelato (Sólido)
Gris
                     / Metalizado
Blanco (sólido)
Blanco Alpino (brillante)
White Sand (metalizado)
Gris-negro
Naranja
BLANCO
Marrón
                     / Metalizado
Blanco Glaciar (opaco)
Gris claro
Midnight Black (metalizado)
GRIS
MARFIL DELHI TECHO NEGRO
                     / Metalizado
Gris Pompei metalizado
Amarillo Pegaso techo negro Onyx
Negro tenore
Clear White (sólido)
az
Oro
Amarillo
OFERTA!!  IMPECABLE!!
                     / Metalizado
EVL  GRIS PLATINIUM
Gris Maestro (metalizado)
                     / Metalizado
Blanco Classic (sólida)
NEGRO PERLA NAC
Rojo Classic (sólida)
NEGRO
VARIAS UNIDADES
automatico navegador poco consumo acabdo gt line
Marron metalizado
Blanco Banquise (opaco)
Rojo Ultimate (metalizado)
Negro Mica (metalizado)
Marrón Beluga metalizado
                     / Metalizado
Mica
                     / Metalizado
CLARO
Gris Tenorita
Verde Lattementa (Sólido)
Blanco Lipazan techo Gris Gallium
Rojo Absolute (nacarado)
blanco
                     / Metalizado
Violeta
Rojo Fuego (metalizado)
NEGRO PERLA
Passion Red (mica)
Rojo emoción (suave)
Plata Brillante Metalizado
Gris Oscuro
Azul claro
MICRON GREY
ROJO
Granate
                     / Metalizado
Gris Iridio (metalizado)
Blanco Alpino (brillante)
                     / Metalizado
Beige
                     / Metalizado
océano
VERDE
Perla Sabbia (metalizado)
bitono
PASSION RED
Negro Vesuvio metalizado
                     / Metalizado
Rojo emoción
Cassa White (sólido)
gris urano
Midnight Black Metalizada
1026JYS
ANTRACITA
                     / Metalizado
Negro Mágico efecto Perla (metalizado)
BANQUISE
Blanco Alpino (sólido)
Cemento
Plata Brilliant
                     / Metalizado
BLANCO PERLADO
AZUL LAZULLI
NACARADO
polar white
ROJO CEREZA
Blanco Glaciar
BRONCE
PERLA SABIA
                     / Metalizado
Plata Urban (metalizado)
GRIS PLATA
                     / Metalizado
Blanco Banquise
BLANCO NACARADO
SPARKLING SILVER
GR - GRIS
TRICAPA
Naranja
                     / Metalizado
R51 - ROJO FLAME
Blanco Nacarado
Negro Onyx (sólido)
Aurora Black (metalizado)
GRIS GRAFITO
MAGENTA
                     / Metalizado
Gris Grafito (metalizada)
VARIOS
Gris Acero (metalizado)
Espresso de Medianoche (sólido)
MARFIL
BLANCO CLASSIC
Rojo Pasión
Pintura sólida Blanco
Bianco Ghiaccio (tricapa)
Cassa White
muy cuidado poco consumo recien revisado
BLANCO GELATO
Plateado
Gris Maestro (metalizado)
Negro Vesuvio (metalizado)
Bitono Gris Pista y Gris Capovolo
Dragon Red/Phantom Black (mica)
Cuarzo
Energy Orange (metalizado)
Azul noche
BLACK EDITION
Gris Pompei (metalizado)
Azul Nébula (metalizada)
Azul Ultramar (metalizado)
Blanco Perlado
Blanco Bila (sólido)
Pintura exterior Blanco Gelato
PLATA
Gris Artense (Metalizado)
NEGRO PLATINO
Azul Lazulli (metalizado)
Gris Colosseo (metalizado)
Plata Estelar
Maestro
BLANCO BANQUISE
Oscuro con techo color granate
Retrovisores y techo negro como el interior
Blanco Lásser Sólido
AZUL IMPACT
                     / Metalizado
Gris Grafito (met)
Oscuro
Azul Kinetic
Blanco Candy (suave)
AZUL PERLA
Negro Obsidian
                     / Metalizado
Gris Vapor (metalizado)
CORAL
                     / Metalizado
Plata (mealizado)
oscuro metalizado
                     / Metalizado
Platinum Silver (metalizado)
Power Blue (metalizado)
Gris Técnico (metalizado)
Gris Titanium (metalizado)
GRIS OSCURO
Negro Brillante + Plata Hielo
                     / Metalizado
Blanco (suave)
Gris Aluminio Metalizado
Rojo Deseo (metalizado)
Gris Urano
Plata Brillante (metalizado)
BL - BLANCO
NEGRO GRAFITO
PLATA FLORETE METALIZADO - PLATA FLORETE METALIZADO
Negro Profundo (efecto perla)
Blue Glacier (metalizado)
Azul Noche (metalizado)
SUPER CUIDADO COCHE ALTO POCO CONSUMO
Verde
                     / Metalizado
Blanco Banquise (sólido)

In [36]:
#Validating top colors
main_car_database['Color'].value_counts()

Blanco                                                         1273
Gris                                                            450
Negro                                                           313
Rojo                                                            285
Azul                                                            274
                                                               ...
PASSION RED                                                       1
Negro Vesuvio metalizado\n                     / Metalizado       1
Rojo emoción                                                      1
Cassa White (sólido)                                              1
Blanco Banquise (sólido)                                          1
Name: Color, Length: 197, dtype: int64

In [37]:
main_car_database['Fuel'].unique()

array(['Gasolina', 'Diesel', 'Gasolina y corriente eléctrica',
       'Gasolina/gas', 'Corriente eléctrica',
       'Diesel y corriente eléctrica'], dtype=object)

In [38]:
def class_fuel(dataframe):
    conditions = [dataframe['Fuel'].str.match('Diesel'),
                  dataframe['Fuel'].str.match('Gas'),
                  dataframe['Fuel'].str.match('Diésel'),
                  dataframe['Fuel'].str.match('Gasolina/gas'),
                  dataframe['Fuel'].str.match('Corriente eléctrica'),
                  dataframe['Fuel'].str.match('Gasolina'),
                  dataframe['Fuel'].str.match('Híbrido'),
                  dataframe['Fuel'].str.match('Gasolina y corriente eléctrica'),
                  dataframe['Fuel'].str.match('Diesel y corriente eléctrica'),
                  dataframe['Fuel'].str.match('Eléctrico')]

    choices =['Diesel','Gasoline','Diesel','Gasoline','Electric','Gasoline','Hybrid','Hybrid','Hybrid','Electric']

    dataframe['Fuel'] = np.select(conditions,choices)

    return dataframe

In [39]:
def class_motor(dataframe):
    conditions = [dataframe['Motor'].str.match('Automático'),
                  dataframe['Motor'].str.match('Manual')]

    choices =['Automatic','Manual']

    dataframe['Motor'] = np.select(conditions,choices)

    return dataframe

In [40]:
class_motor(main_car_database)
class_fuel(main_car_database)

,Unnamed: 0,Maker,Model,Description,Name,Year,City,Year2,Color,Power,...,numpuertas,numplazas,cilindrada,numcilindros,velmax,consurb,conscarr,consmed,emisiones,Class
0,0,NISSAN,Micra,IG-T S&S Acenta 90,NISSAN Micra IG-T S&S Acenta 90,2018,Las Palmas,12/2018,Azul,90,...,puertas5,plazas5,(cm3)898,cilindros3,(km/h)175,"Urbano (l/100 km)6,30","Carretera (l/100 km)4,50","Medio (l/100 km)5,20",CO2 (g/km)118,NISSAN Micra IG-T S&S Acenta 90201851.773 km
1,1,RENAULT,Clio,1.5dCi eco2 S&S Energy Business 90,RENAULT Clio 1.5dCi eco2 S&S Energy Business 90,2016,Granada,06/2016,Blanco,90,...,puertas5,plazas5,(cm3)1.461,cilindros4,(km/h)178,"Urbano (l/100 km)4,10","Carretera (l/100 km)3,30","Medio (l/100 km)3,60",CO2 (g/km)93,RENAULT Clio 1.5dCi eco2 S&S Energy Business 9...
2,2,KIA,Cee´d,1.4CRDI WGT Business 90,KIA Cee´d 1.4CRDI WGT Business 90,2017,Sevilla,05/2017,Negro,90,...,puertas5,plazas5,(cm3)1.396,cilindros4,(km/h)173,"Urbano (l/100 km)5,10","Carretera (l/100 km)3,70","Medio (l/100 km)4,20",CO2 (g/km)109,KIA Cee´d 1.4CRDI WGT Business 90201771.565 km
3,3,RENAULT,Clio,1.5dCi eco2 Energy Authentique 75,RENAULT Clio 1.5dCi eco2 Energy Authentique 75,2014,Barcelona,12/2014,Plata\n / Metalizado,75,...,puertas5,plazas5,(cm3)1.461,cilindros4,(km/h)168,"Urbano (l/100 km)4,30","Carretera (l/100 km)3,20","Medio (l/100 km)3,60",CO2 (g/km)85,RENAULT Clio 1.5dCi eco2 Energy Authentique 75...
4,4,OPEL,Corsa,1.4 Selective 90,OPEL Corsa 1.4 Selective 90,2018,Málaga,05/2018,Gris,90,...,puertas5,plazas5,(cm3)1.398,cilindros4,(km/h)175,"Urbano (l/100 km)6,50","Carretera (l/100 km)4,30","Medio (l/100 km)5,10",CO2 (g/km)120,OPEL Corsa 1.4 Selective 90201884.340 km
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5828,682,FORD,Focus,1.0 Ecoboost Auto-S&S ST-Line 125,FORD Focus 1.0 Ecoboost Auto-S&S ST-Line 125,2017,Albacete,02/2017,Azul,125,...,puertas5,plazas5,(cm3)999,cilindros3,(km/h)-,"Urbano (l/100 km)5,70","Carretera (l/100 km)4,10","Medio (l/100 km)4,70",CO2 (g/km)108,FORD Focus 1.0 Ecoboost Auto-S&S ST-Line 12520...
5847,701,RENAULT,Mégane,1.2 TCe Energy Tech Road 97kW,RENAULT Mégane 1.2 TCe Energy Tech Road 97kW,2017,Madrid,10/2017,-,130,...,puertas5,plazas5,(cm3)1.197,cilindros4,(km/h)197,"Urbano (l/100 km)6,80","Carretera (l/100 km)4,50","Medio (l/100 km)5,30",CO2 (g/km)119,RENAULT Mégane 1.2 TCe Energy Tech Road 97kW20...
5850,704,FORD,Fiesta,1.0 EcoBoost S/S Titanium 100,FORD Fiesta 1.0 EcoBoost S/S Titanium 100,2017,Madrid,02/2017,Azul,100,...,puertas5,plazas5,(cm3)998,cilindros3,(km/h)183,"Urbano (l/100 km)5,40","Carretera (l/100 km)3,60","Medio (l/100 km)4,30",CO2 (g/km)110,FORD Fiesta 1.0 EcoBoost S/S Titanium 10020174...
5852,706,RENAULT,Clio,Sport Tourer 1.5dCi Energy Business 55kW,RENAULT Clio Sport Tourer 1.5dCi Energy Busine...,2019,Madrid,02/2019,Blanco,75,...,puertas5,plazas5,(cm3)1.461,cilindros4,(km/h)168,"Urbano (l/100 km)4,30","Carretera (l/100 km)3,20","Medio (l/100 km)3,60",CO2 (g/km)106,RENAULT Clio Sport Tourer 1.5dCi Energy Busine...
5854,708,FORD,Focus,1.5TDCi Trend+ 120,FORD Focus 1.5TDCi Trend+ 120,2018,Valencia,10/2018,Negro,120,...,puertas5,plazas5,(cm3)1.498,cilindros4,(km/h)-,"Urbano (l/100 km)4,30","Carretera (l/100 km)3,40","Medio (l/100 km)3,80",CO2 (g/km)105,FORD Focus 1.5TDCi Trend+ 120201893.736 km

In [41]:
main_car_database.columns

Index(['Unnamed: 0', 'Maker', 'Model', 'Description', 'Name', 'Year', 'City',
       'Year2', 'Color', 'Power', 'Motor', 'Chasis', 'Kilometers', 'Fuel',
       'Price', 'Link', 'largo', 'ancho', 'alto', 'batalla', 'pesomax',
       'numpuertas', 'numplazas', 'cilindrada', 'numcilindros', 'velmax',
       'consurb', 'conscarr', 'consmed', 'emisiones', 'Class'],
      dtype='object')

In [42]:
main_car_database['Fuel'].unique()
main_car_database['Fuel'].unique()

array(['Gasoline', 'Diesel', 'Electric'], dtype=object)

In [43]:
#Convert column to only numbers and to numeric format
def get_numbers(column):
    main_car_database[column] = main_car_database[column].apply(lambda x: re.sub(r'[^0-9]','', str(x)))
    main_car_database[column] = pd.to_numeric(main_car_database[column])
    return column

In [44]:
#Eliminate specific text ina particular column
def clean_text_to_num(column,text):
    
    main_car_database[column] = main_car_database[column].str.replace(text,'', regex=False)
    
    return column

In [45]:
clean_text_to_num('consurb','Urbano (l/100 km)')
clean_text_to_num('conscarr','Carretera (l/100 km)')
clean_text_to_num('consmed','Medio (l/100 km)')
clean_text_to_num('emisiones','CO2 (g/km)')
clean_text_to_num('cilindrada','(cm3)')
clean_text_to_num('batalla','(mm)')
clean_text_to_num('pesomax','(kg)')
clean_text_to_num('numpuertas','puertas')

'numpuertas'

In [46]:
#Droping column emisiones with '-'
main_car_database.drop(main_car_database.index[main_car_database['emisiones'] == '-'], inplace=True)

In [47]:

def decimal_point_num(column):
    
    main_car_database[column] = main_car_database[column].str.replace(',','.', regex=False)
    main_car_database[column] = pd.to_numeric(main_car_database[column])
    return column

In [48]:
decimal_point_num('consurb')
decimal_point_num('conscarr')
decimal_point_num('consmed')
decimal_point_num('emisiones')
#decimal_point_num('pesomax')
decimal_point_num('numpuertas')
decimal_point_num('cilindrada')

'cilindrada'

In [49]:
get_numbers('numplazas')
get_numbers('numcilindros')
get_numbers('velmax')
get_numbers('Price')
get_numbers('largo')
get_numbers('ancho')
get_numbers('alto')
get_numbers('Kilometers')
get_numbers('batalla')
get_numbers('pesomax')

'pesomax'

In [50]:
#Cleaning converting to numeric, not utilized , there is a funtion for it
#main_car_database['Price(Euros)'] = main_car_database['Price'].apply(lambda x: re.sub(r'[^0-9]','', str(x)))
#main_car_database.drop(['Price'], axis=1,inplace=True)
#main_car_database['Kilometers'] = main_car_database['Kilometers'].apply(lambda x: re.sub(r'[^0-9]','', str(x)))
#main_car_database['Kilometers'] = main_car_database['Kilometers'].apply(lambda x: re.sub(r'[^0-9]','', str(x)))

In [51]:
#Droping duplicated column for year
main_car_database.drop(['Year2'], axis=1,inplace=True)

In [52]:
main_car_database['Chasis'].unique()

array(['Berlina', 'Monovolumen', 'Todo Terreno', 'Stationwagon', 'Coupe',
       'Convertible'], dtype=object)

In [53]:
main_car_database['Chasis'][main_car_database['Chasis'].isnull()] = 'Not defined'

C:\Users\SERGIO~1\AppData\Local\Temp/ipykernel_13828/12787571.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_car_database['Chasis'][main_car_database['Chasis'].isnull()] = 'Not defined'

In [54]:
main_car_database['Chasis'].unique()

array(['Berlina', 'Monovolumen', 'Todo Terreno', 'Stationwagon', 'Coupe',
       'Convertible'], dtype=object)

In [55]:
def class_chasis(dataframe):
    conditions = [dataframe['Chasis'].str.match('Berlina'),
                  dataframe['Chasis'].str.match('Berlina mediana o grande'),
                  dataframe['Chasis'].str.match('Familiar'),
                  dataframe['Chasis'].str.match('Pequeño'),
                  dataframe['Chasis'].str.match('Monovolumen'),
                  dataframe['Chasis'].str.match('4x4, SUV o pickup'),
                  dataframe['Chasis'].str.match('Todo Terreno'),
                  dataframe['Chasis'].str.match('Stationwagon'),
                  dataframe['Chasis'].str.match('Deportivo o coupé'),
                  dataframe['Chasis'].str.match('Not defined'),
                  dataframe['Chasis'].str.match('Coupe'),
                  dataframe['Chasis'].str.match('Convertible'),
                 dataframe['Chasis'].str.match('Descapotable o convertible'),
                 ]

    choices =['Berlina','Berlina','Familiar','Pequeño','Monovolumen','SUV','Todo Terreno','Stationwagon',
              'Coupe','Not defined','Coupe','Convertible','Convertible']

    dataframe['Chasis'] = np.select(conditions,choices)

    return dataframe

In [56]:
class_chasis(main_car_database)

,Unnamed: 0,Maker,Model,Description,Name,Year,City,Color,Power,Motor,...,numpuertas,numplazas,cilindrada,numcilindros,velmax,consurb,conscarr,consmed,emisiones,Class
0,0,NISSAN,Micra,IG-T S&S Acenta 90,NISSAN Micra IG-T S&S Acenta 90,2018,Las Palmas,Azul,90,Manual,...,5,5,898.000,3,175.0,6.3,4.5,5.2,118,NISSAN Micra IG-T S&S Acenta 90201851.773 km
1,1,RENAULT,Clio,1.5dCi eco2 S&S Energy Business 90,RENAULT Clio 1.5dCi eco2 S&S Energy Business 90,2016,Granada,Blanco,90,Manual,...,5,5,1.461,4,178.0,4.1,3.3,3.6,93,RENAULT Clio 1.5dCi eco2 S&S Energy Business 9...
2,2,KIA,Cee´d,1.4CRDI WGT Business 90,KIA Cee´d 1.4CRDI WGT Business 90,2017,Sevilla,Negro,90,Manual,...,5,5,1.396,4,173.0,5.1,3.7,4.2,109,KIA Cee´d 1.4CRDI WGT Business 90201771.565 km
3,3,RENAULT,Clio,1.5dCi eco2 Energy Authentique 75,RENAULT Clio 1.5dCi eco2 Energy Authentique 75,2014,Barcelona,Plata\n / Metalizado,75,Manual,...,5,5,1.461,4,168.0,4.3,3.2,3.6,85,RENAULT Clio 1.5dCi eco2 Energy Authentique 75...
4,4,OPEL,Corsa,1.4 Selective 90,OPEL Corsa 1.4 Selective 90,2018,Málaga,Gris,90,Manual,...,5,5,1.398,4,175.0,6.5,4.3,5.1,120,OPEL Corsa 1.4 Selective 90201884.340 km
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5828,682,FORD,Focus,1.0 Ecoboost Auto-S&S ST-Line 125,FORD Focus 1.0 Ecoboost Auto-S&S ST-Line 125,2017,Albacete,Azul,125,Manual,...,5,5,999.000,3,NaN,5.7,4.1,4.7,108,FORD Focus 1.0 Ecoboost Auto-S&S ST-Line 12520...
5847,701,RENAULT,Mégane,1.2 TCe Energy Tech Road 97kW,RENAULT Mégane 1.2 TCe Energy Tech Road 97kW,2017,Madrid,-,130,Manual,...,5,5,1.197,4,197.0,6.8,4.5,5.3,119,RENAULT Mégane 1.2 TCe Energy Tech Road 97kW20...
5850,704,FORD,Fiesta,1.0 EcoBoost S/S Titanium 100,FORD Fiesta 1.0 EcoBoost S/S Titanium 100,2017,Madrid,Azul,100,Manual,...,5,5,998.000,3,183.0,5.4,3.6,4.3,110,FORD Fiesta 1.0 EcoBoost S/S Titanium 10020174...
5852,706,RENAULT,Clio,Sport Tourer 1.5dCi Energy Business 55kW,RENAULT Clio Sport Tourer 1.5dCi Energy Busine...,2019,Madrid,Blanco,75,Manual,...,5,5,1.461,4,168.0,4.3,3.2,3.6,106,RENAULT Clio Sport Tourer 1.5dCi Energy Busine...
5854,708,FORD,Focus,1.5TDCi Trend+ 120,FORD Focus 1.5TDCi Trend+ 120,2018,Valencia,Negro,120,Manual,...,5,5,1.498,4,NaN,4.3,3.4,3.8,105,FORD Focus 1.5TDCi Trend+ 120201893.736 km

In [57]:
#Chasis standarized
main_car_database['Chasis'].unique()

array(['Berlina', 'Monovolumen', 'Todo Terreno', 'Stationwagon', 'Coupe',
       'Convertible'], dtype=object)

In [58]:
#Lets clean the colum color
main_car_database['Color'].value_counts()

Blanco                      1263
Gris                         450
Negro                        312
Rojo                         284
Azul                         273
                            ...
PASSION RED                    1
Rojo emoción                   1
Cassa White (sólido)           1
gris urano                     1
Blanco Banquise (sólido)       1
Name: Color, Length: 193, dtype: int64

In [59]:
#detail for the colors, one by one
for color in main_car_database['Color'].unique():
    print(color)

Azul
Blanco
Negro
Plata
                     / Metalizado
Gris
Plata
Azul
                     / Metalizado
Arctic White (sólido)
Verde
gris aluminio
                     / Metalizado
Beige
Rojo
TELA GRIS
Blanco Puro
Granate
-
Gris Platino (metalizado)
BLAMCO GLACIAR
AZUL
Blanco
                     / Metalizado
Marrón
Perla
Gris Plata
Azul Cosmos (metalizado)
Sparkling Silver (KCS)
Negro
                     / Metalizado
Azul Báltico (sólido)
IMPECABLE
                     / Metalizado
Blanco Lipizan (opaco)
Rojo
                     / Metalizado
Gris Magnesio metalizado
Blanco Classic (sólido)
Blanco Gelato (Sólido)
Gris
                     / Metalizado
Blanco (sólido)
Blanco Alpino (brillante)
White Sand (metalizado)
Gris-negro
Naranja
BLANCO
Marrón
                     / Metalizado
Blanco Glaciar (opaco)
Gris claro
Midnight Black (metalizado)
GRIS
MARFIL DELHI TECHO NEGRO
                     / Metalizado
Amarillo Pegaso techo negro Onyx
Negro tenore
Clear White (sólido)
az
Oro
Amarillo
OFERTA!!  IMPECABLE!!
                     / Metalizado
EVL  GRIS PLATINIUM
Gris Maestro (metalizado)
                     / Metalizado
Blanco Classic (sólida)
NEGRO PERLA NAC
Rojo Classic (sólida)
NEGRO
VARIAS UNIDADES
automatico navegador poco consumo acabdo gt line
Marron metalizado
Blanco Banquise (opaco)
Rojo Ultimate (metalizado)
Negro Mica (metalizado)
Marrón Beluga metalizado
                     / Metalizado
Mica
                     / Metalizado
CLARO
Gris Tenorita
Verde Lattementa (Sólido)
Blanco Lipazan techo Gris Gallium
Rojo Absolute (nacarado)
blanco
                     / Metalizado
Violeta
Rojo Fuego (metalizado)
NEGRO PERLA
Passion Red (mica)
Rojo emoción (suave)
Plata Brillante Metalizado
Gris Oscuro
Azul claro
MICRON GREY
ROJO
Granate
                     / Metalizado
Blanco Alpino (brillante)
                     / Metalizado
Beige
                     / Metalizado
océano
VERDE
Perla Sabbia (metalizado)
bitono
PASSION RED
Rojo emoción
Cassa White (sólido)
gris urano
Midnight Black Metalizada
1026JYS
ANTRACITA
                     / Metalizado
Negro Mágico efecto Perla (metalizado)
BANQUISE
Blanco Alpino (sólido)
Cemento
Plata Brilliant
                     / Metalizado
BLANCO PERLADO
AZUL LAZULLI
NACARADO
polar white
ROJO CEREZA
Blanco Glaciar
BRONCE
PERLA SABIA
                     / Metalizado
Plata Urban (metalizado)
GRIS PLATA
                     / Metalizado
Blanco Banquise
BLANCO NACARADO
SPARKLING SILVER
GR - GRIS
TRICAPA
Naranja
                     / Metalizado
R51 - ROJO FLAME
Blanco Nacarado
Negro Onyx (sólido)
Aurora Black (metalizado)
GRIS GRAFITO
MAGENTA
                     / Metalizado
Gris Grafito (metalizada)
VARIOS
Gris Acero (metalizado)
Espresso de Medianoche (sólido)
MARFIL
BLANCO CLASSIC
Rojo Pasión
Pintura sólida Blanco
Bianco Ghiaccio (tricapa)
Cassa White
muy cuidado poco consumo recien revisado
BLANCO GELATO
Plateado
Gris Maestro (metalizado)
Negro Vesuvio (metalizado)
Bitono Gris Pista y Gris Capovolo
Dragon Red/Phantom Black (mica)
Cuarzo
Energy Orange (metalizado)
Azul noche
BLACK EDITION
Gris Pompei (metalizado)
Azul Nébula (metalizada)
Azul Ultramar (metalizado)
Blanco Perlado
Blanco Bila (sólido)
Pintura exterior Blanco Gelato
PLATA
Gris Artense (Metalizado)
NEGRO PLATINO
Azul Lazulli (metalizado)
Gris Colosseo (metalizado)
Plata Estelar
Maestro
BLANCO BANQUISE
Oscuro con techo color granate
Retrovisores y techo negro como el interior
Blanco Lásser Sólido
AZUL IMPACT
                     / Metalizado
Gris Grafito (met)
Oscuro
Azul Kinetic
Blanco Candy (suave)
AZUL PERLA
Negro Obsidian
                     / Metalizado
Gris Vapor (metalizado)
CORAL
                     / Metalizado
Plata (mealizado)
oscuro metalizado
                     / Metalizado
Platinum Silver (metalizado)
Power Blue (metalizado)
Gris Técnico (metalizado)
Gris Titanium (metalizado)
GRIS OSCURO
Negro Brillante + Plata Hielo
                     / Metalizado
Blanco (suave)
Gris Aluminio Metalizado
Rojo Deseo (metalizado)
Gris Urano
Plata Brillante (metalizado)
BL - BLANCO
NEGRO GRAFITO
PLATA FLORETE METALIZADO - PLATA FLORETE METALIZADO
Negro Profundo (efecto perla)
Blue Glacier (metalizado)
Azul Noche (metalizado)
SUPER CUIDADO COCHE ALTO POCO CONSUMO
Verde
                     / Metalizado
Blanco Banquise (sólido)

In [60]:
#Eliminating double spaces and conveting string into lower case
main_car_database['Color'] = main_car_database['Color'].apply(lambda x: re.sub(r'\s+',' ', str(x.lower())))
#result = re.sub(r'\s+', ' ',   input)           # Eliminate duplicate whitespaces using wildcards

In [61]:
#Validating change done
main_car_database['Color'].unique()

array(['azul', 'blanco', 'negro', 'plata / metalizado', 'gris', 'plata',
       'azul / metalizado', 'arctic white (sólido)', 'verde',
       'gris aluminio / metalizado', 'beige', 'rojo', 'tela gris',
       'blanco puro', 'granate', '-', 'gris platino (metalizado)',
       'blamco glaciar', 'blanco / metalizado', 'marrón', 'perla',
       'gris plata', 'azul cosmos (metalizado)', 'sparkling silver (kcs)',
       'negro / metalizado', 'azul báltico (sólido)',
       'impecable / metalizado', 'blanco lipizan (opaco)',
       'rojo / metalizado', 'gris magnesio metalizado',
       'blanco classic (sólido)', 'blanco gelato (sólido)',
       'gris / metalizado', 'blanco (sólido)',
       'blanco alpino (brillante)', 'white sand (metalizado)',
       'gris-negro', 'naranja', 'marrón / metalizado',
       'blanco glaciar (opaco)', 'gris claro',
       'midnight black (metalizado)',
       'marfil delhi techo negro / metalizado',
       'amarillo pegaso techo negro onyx', 'negro tenore',
       'clear white (sólido)', 'az', 'oro', 'amarillo',
       'oferta!! impecable!! / metalizado', 'evl gris platinium',
       'gris maestro (metalizado) / metalizado',
       'blanco classic (sólida)', 'negro perla nac',
       'rojo classic (sólida)', 'varias unidades',
       'automatico navegador poco consumo acabdo gt line',
       'marron metalizado', 'blanco banquise (opaco)',
       'rojo ultimate (metalizado)', 'negro mica (metalizado)',
       'marrón beluga metalizado / metalizado', 'mica / metalizado',
       'claro', 'gris tenorita', 'verde lattementa (sólido)',
       'blanco lipazan techo gris gallium', 'rojo absolute (nacarado)',
       'violeta', 'rojo fuego (metalizado)', 'negro perla',
       'passion red (mica)', 'rojo emoción (suave)',
       'plata brillante metalizado', 'gris oscuro', 'azul claro',
       'micron grey', 'granate / metalizado',
       'blanco alpino (brillante) / metalizado', 'beige / metalizado',
       'océano', 'perla sabbia (metalizado)', 'bitono', 'passion red',
       'rojo emoción', 'cassa white (sólido)', 'gris urano',
       'midnight black metalizada', '1026jys', 'antracita / metalizado',
       'negro mágico efecto perla (metalizado)', 'banquise',
       'blanco alpino (sólido)', 'cemento',
       'plata brilliant / metalizado', 'blanco perlado', 'azul lazulli',
       'nacarado', 'polar white', 'rojo cereza', 'blanco glaciar',
       'bronce', 'perla sabia / metalizado', 'plata urban (metalizado)',
       'gris plata / metalizado', 'blanco banquise', 'blanco nacarado',
       'sparkling silver', 'gr - gris', 'tricapa', 'naranja / metalizado',
       'r51 - rojo flame', 'negro onyx (sólido)',
       'aurora black (metalizado)', 'gris grafito',
       'magenta / metalizado', 'gris grafito (metalizada)', 'varios',
       'gris acero (metalizado)', 'espresso de medianoche (sólido)',
       'marfil', 'blanco classic', 'rojo pasión', 'pintura sólida blanco',
       'bianco ghiaccio (tricapa)', 'cassa white',
       'muy cuidado poco consumo recien revisado', 'blanco gelato',
       'plateado', 'gris maestro (metalizado)',
       'negro vesuvio (metalizado)', 'bitono gris pista y gris capovolo',
       'dragon red/phantom black (mica)', 'cuarzo',
       'energy orange (metalizado)', 'azul noche', 'black edition',
       'gris pompei (metalizado)', 'azul nébula (metalizada)',
       'azul ultramar (metalizado)', 'blanco bila (sólido)',
       'pintura exterior blanco gelato', 'gris artense (metalizado)',
       'negro platino', 'azul lazulli (metalizado)',
       'gris colosseo (metalizado)', 'plata estelar', 'maestro',
       'oscuro con techo color granate',
       'retrovisores y techo negro como el interior',
       'blanco lásser sólido', 'azul impact / metalizado',
       'gris grafito (met)', 'oscuro', 'azul kinetic',
       'blanco candy (suave)', 'azul perla',
       'negro obsidian / metalizado', 'gris vapor (metalizado)',
       'coral / metalizado', 'plata (mealizado)',
       'oscuro metalizado / metalizado', 'platinum silver (metalizado)',
       'power blue (metalizado)', 'gris técnico (metalizado)',
       'gris titanium (metalizado)',
       'negro brillante + plata hielo / metalizado', 'blanco (suave)',
       'gris aluminio metalizado', 'rojo deseo (metalizado)',
       'plata brillante (metalizado)', 'bl - blanco', 'negro grafito',
       'plata florete metalizado - plata florete metalizado',
       'negro profundo (efecto perla)', 'blue glacier (metalizado)',
       'azul noche (metalizado)', 'super cuidado coche alto poco consumo',
       'verde / metalizado', 'blanco banquise (sólido)'], dtype=object)

In [62]:
#Validation top colors
main_car_database['Color'].value_counts()

blanco                      1289
gris                         454
negro                        317
rojo                         289
azul                         277
                            ...
rojo emoción (suave)           1
passion red (mica)             1
rojo fuego (metalizado)        1
violeta                        1
blanco banquise (sólido)       1
Name: Color, Length: 180, dtype: int64

In [63]:
#main_car_database[main_car_database['Color'].value_counts() > 20]
test = main_car_database.groupby('Color').filter(lambda x: len(x) >20)
color_class_df =test['Color'].value_counts().reset_index()
color_class_df['index']

0                  blanco
1                    gris
2                   negro
3                    rojo
4                    azul
5                       -
6              gris plata
7                   plata
8                  marrón
9       gris / metalizado
10    blanco / metalizado
11                  beige
12     negro / metalizado
13      azul / metalizado
14                granate
Name: index, dtype: object

In [64]:
#Lets classify the colors into less optiopms
def class_color(dataframe):
    conditions = [dataframe['Color'].str.match('blanco'),
                  dataframe['Color'].str.match('gris'),
                  dataframe['Color'].str.match('negro'),
                  dataframe['Color'].str.match('azul'),
                  dataframe['Color'].str.match('plata'),
                  dataframe['Color'].str.match('gris plata'),
                  dataframe['Color'].str.match('marrón'),
                  dataframe['Color'].str.match('beige'),
                  dataframe['Color'].str.match('gris / metalizado'),
                  dataframe['Color'].str.match('blanco / metalizado'),
                  dataframe['Color'].str.match('plateado'),
                  dataframe['Color'].str.match('negro / metalizado'),
                  dataframe['Color'].str.match('naranja'),
                  dataframe['Color'].str.match('granate'),
                  dataframe['Color'].str.match('verde'),
                  dataframe['Color'].str.match('azul / metalizado')]

    choices =['blanco','gris','negro','azul','plata','gris plata','marrón','beige',
              'gris / metalizado','blanco / metalizado','plateado','negro / metalizado',
              'naranja','granate','verde','azul / metalizado']

    dataframe['Color'] = np.select(conditions,choices,default='Other')

    return dataframe

In [65]:
class_color(main_car_database)

,Unnamed: 0,Maker,Model,Description,Name,Year,City,Color,Power,Motor,...,numpuertas,numplazas,cilindrada,numcilindros,velmax,consurb,conscarr,consmed,emisiones,Class
0,0,NISSAN,Micra,IG-T S&S Acenta 90,NISSAN Micra IG-T S&S Acenta 90,2018,Las Palmas,azul,90,Manual,...,5,5,898.000,3,175.0,6.3,4.5,5.2,118,NISSAN Micra IG-T S&S Acenta 90201851.773 km
1,1,RENAULT,Clio,1.5dCi eco2 S&S Energy Business 90,RENAULT Clio 1.5dCi eco2 S&S Energy Business 90,2016,Granada,blanco,90,Manual,...,5,5,1.461,4,178.0,4.1,3.3,3.6,93,RENAULT Clio 1.5dCi eco2 S&S Energy Business 9...
2,2,KIA,Cee´d,1.4CRDI WGT Business 90,KIA Cee´d 1.4CRDI WGT Business 90,2017,Sevilla,negro,90,Manual,...,5,5,1.396,4,173.0,5.1,3.7,4.2,109,KIA Cee´d 1.4CRDI WGT Business 90201771.565 km
3,3,RENAULT,Clio,1.5dCi eco2 Energy Authentique 75,RENAULT Clio 1.5dCi eco2 Energy Authentique 75,2014,Barcelona,plata,75,Manual,...,5,5,1.461,4,168.0,4.3,3.2,3.6,85,RENAULT Clio 1.5dCi eco2 Energy Authentique 75...
4,4,OPEL,Corsa,1.4 Selective 90,OPEL Corsa 1.4 Selective 90,2018,Málaga,gris,90,Manual,...,5,5,1.398,4,175.0,6.5,4.3,5.1,120,OPEL Corsa 1.4 Selective 90201884.340 km
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5828,682,FORD,Focus,1.0 Ecoboost Auto-S&S ST-Line 125,FORD Focus 1.0 Ecoboost Auto-S&S ST-Line 125,2017,Albacete,azul,125,Manual,...,5,5,999.000,3,NaN,5.7,4.1,4.7,108,FORD Focus 1.0 Ecoboost Auto-S&S ST-Line 12520...
5847,701,RENAULT,Mégane,1.2 TCe Energy Tech Road 97kW,RENAULT Mégane 1.2 TCe Energy Tech Road 97kW,2017,Madrid,Other,130,Manual,...,5,5,1.197,4,197.0,6.8,4.5,5.3,119,RENAULT Mégane 1.2 TCe Energy Tech Road 97kW20...
5850,704,FORD,Fiesta,1.0 EcoBoost S/S Titanium 100,FORD Fiesta 1.0 EcoBoost S/S Titanium 100,2017,Madrid,azul,100,Manual,...,5,5,998.000,3,183.0,5.4,3.6,4.3,110,FORD Fiesta 1.0 EcoBoost S/S Titanium 10020174...
5852,706,RENAULT,Clio,Sport Tourer 1.5dCi Energy Business 55kW,RENAULT Clio Sport Tourer 1.5dCi Energy Busine...,2019,Madrid,blanco,75,Manual,...,5,5,1.461,4,168.0,4.3,3.2,3.6,106,RENAULT Clio Sport Tourer 1.5dCi Energy Busine...
5854,708,FORD,Focus,1.5TDCi Trend+ 120,FORD Focus 1.5TDCi Trend+ 120,2018,Valencia,negro,120,Manual,...,5,5,1.498,4,NaN,4.3,3.4,3.8,105,FORD Focus 1.5TDCi Trend+ 120201893.736 km

In [66]:
#Now we have a set of colors smaller
main_car_database['Color'].unique()

array(['azul', 'blanco', 'negro', 'plata', 'gris', 'Other', 'verde',
       'beige', 'granate', 'marrón', 'naranja', 'plateado'], dtype=object)

In [67]:
#Clasification cars by segment

In [68]:
#Evaluating % of Color other from the full dataset, it is 14%, lets keep it for the moment
main_car_database.groupby(['Color']).agg(Count=('Color', 'size')).reset_index()['Count'][0]/main_car_database.groupby(['Color']).agg(Count=('Color', 'size')).sum()[0]

0.14850334205172916

In [69]:
main_car_database.shape[0]

3441

In [70]:
#Validating nulls
main_car_database.isnull().sum()

Unnamed: 0        0
Maker             0
Model             0
Description       0
Name              0
Year              0
City              0
Color             0
Power             0
Motor             0
Chasis            0
Kilometers        0
Fuel              0
Price             0
Link              0
largo             0
ancho             0
alto              0
batalla           0
pesomax           0
numpuertas        0
numplazas         0
cilindrada        0
numcilindros      0
velmax          114
consurb           0
conscarr          0
consmed           0
emisiones         0
Class             0
dtype: int64

In [71]:
#Filling missing values with mean, maybe not a useful column, so dont lose the other values
main_car_database['velmax'][main_car_database['velmax'].isna() == True] =  main_car_database['velmax'].mean()

C:\Users\SERGIO~1\AppData\Local\Temp/ipykernel_13828/3904669253.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_car_database['velmax'][main_car_database['velmax'].isna() == True] =  main_car_database['velmax'].mean()

In [72]:
main_car_database['velmax'][45]

187.0

In [73]:
main_car_database['velmax'].mean()

181.5064622783285

In [74]:
#Validating types of column
main_car_database.dtypes

Unnamed: 0        int64
Maker            object
Model            object
Description      object
Name             object
Year              int64
City             object
Color            object
Power             int64
Motor            object
Chasis           object
Kilometers        int64
Fuel             object
Price             int64
Link             object
largo             int64
ancho             int64
alto              int64
batalla           int64
pesomax           int64
numpuertas        int64
numplazas         int64
cilindrada      float64
numcilindros      int64
velmax          float64
consurb         float64
conscarr        float64
consmed         float64
emisiones         int64
Class            object
dtype: object

In [75]:
#Validate if necesary to change to date because is affecting
#main_car_database['Year'] = pd.to_datetime(main_car_database.Year, format='%Y' )

In [76]:
main_car_database.columns

Index(['Unnamed: 0', 'Maker', 'Model', 'Description', 'Name', 'Year', 'City',
       'Color', 'Power', 'Motor', 'Chasis', 'Kilometers', 'Fuel', 'Price',
       'Link', 'largo', 'ancho', 'alto', 'batalla', 'pesomax', 'numpuertas',
       'numplazas', 'cilindrada', 'numcilindros', 'velmax', 'consurb',
       'conscarr', 'consmed', 'emisiones', 'Class'],
      dtype='object')

In [77]:
main_car_database[['numpuertas',
       'numplazas', 'cilindrada', 'numcilindros', 'velmax', 'consurb',
       'conscarr', 'consmed', 'emisiones', 'Class']]

,numpuertas,numplazas,cilindrada,numcilindros,velmax,consurb,conscarr,consmed,emisiones,Class
0,5,5,898.000,3,175.000000,6.3,4.5,5.2,118,NISSAN Micra IG-T S&S Acenta 90201851.773 km
1,5,5,1.461,4,178.000000,4.1,3.3,3.6,93,RENAULT Clio 1.5dCi eco2 S&S Energy Business 9...
2,5,5,1.396,4,173.000000,5.1,3.7,4.2,109,KIA Cee´d 1.4CRDI WGT Business 90201771.565 km
3,5,5,1.461,4,168.000000,4.3,3.2,3.6,85,RENAULT Clio 1.5dCi eco2 Energy Authentique 75...
4,5,5,1.398,4,175.000000,6.5,4.3,5.1,120,OPEL Corsa 1.4 Selective 90201884.340 km
...,...,...,...,...,...,...,...,...,...,...
5828,5,5,999.000,3,181.506462,5.7,4.1,4.7,108,FORD Focus 1.0 Ecoboost Auto-S&S ST-Line 12520...
5847,5,5,1.197,4,197.000000,6.8,4.5,5.3,119,RENAULT Mégane 1.2 TCe Energy Tech Road 97kW20...
5850,5,5,998.000,3,183.000000,5.4,3.6,4.3,110,FORD Fiesta 1.0 EcoBoost S/S Titanium 10020174...
5852,5,5,1.461,4,168.000000,4.3,3.2,3.6,106,RENAULT Clio Sport Tourer 1.5dCi Energy Busine...
5854,5,5,1.498,4,181.506462,4.3,3.4,3.8,105,FORD Focus 1.5TDCi Trend+ 120201893.736 km

In [78]:
main_car_database.rename(columns={'Power':'Power_cv','Price':'Price_euro','largo':'Length_mm',
                                   'ancho':'Width_mm','alto':'Height_mm','batalla':'Wheelbase_mm',
                                   'pesomax':'Weight_kg','numpuertas':'Doors','numplazas':'Seats',
                                 'cilindrada':'Cylinders','numcilindros':'Cylindernumber','Power':'Power_cv',
                                  'velmax':'Maxvel','consurb':'Urbancons','conscarr':'Highwaycons',
                                  'consmed':'Meancons','emisiones':'Emissions'}, inplace=True)

In [79]:
#Revalidating for empty values
main_car_database.isna().any()

Unnamed: 0        False
Maker             False
Model             False
Description       False
Name              False
Year              False
City              False
Color             False
Power_cv          False
Motor             False
Chasis            False
Kilometers        False
Fuel              False
Price_euro        False
Link              False
Length_mm         False
Width_mm          False
Height_mm         False
Wheelbase_mm      False
Weight_kg         False
Doors             False
Seats             False
Cylinders         False
Cylindernumber    False
Maxvel            False
Urbancons         False
Highwaycons       False
Meancons          False
Emissions         False
Class             False
dtype: bool

In [80]:
main_car_database.describe()

,Unnamed: 0,Year,Power_cv,Kilometers,Price_euro,Length_mm,Width_mm,Height_mm,Wheelbase_mm,Weight_kg,Doors,Seats,Cylinders,Cylindernumber,Maxvel,Urbancons,Highwaycons,Meancons,Emissions
count,3441.000000,3441.000000,3441.000000,3.441000e+03,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000
mean,363.304272,2016.544319,103.546062,9.165968e+04,12953.707062,4178.313572,1761.321418,1506.985760,2577.987213,1725.393490,4.767800,4.908457,175.470059,3.705028,181.506462,5.474106,3.970910,4.532171,110.182796
std,219.115987,1.678826,23.652664,5.405174e+04,2174.668444,338.325545,67.161300,73.301925,137.436628,237.265732,0.618389,0.456912,373.464229,0.461167,14.872028,1.189101,0.605824,0.795176,15.266185
min,0.000000,2007.000000,60.000000,1.000000e+00,5490.000000,2695.000000,1559.000000,1404.000000,0.000000,945.000000,2.000000,2.000000,1.084000,2.000000,140.000000,0.000000,0.000000,0.000000,75.000000
25%,172.000000,2015.000000,90.000000,5.367100e+04,11490.000000,3996.000000,1732.000000,1460.000000,2510.000000,1565.000000,5.000000,5.000000,1.368000,3.000000,170.000000,4.500000,3.500000,3.900000,99.000000
50%,357.000000,2017.000000,100.000000,8.700000e+04,13200.000000,4159.000000,1765.000000,1481.000000,2595.000000,1727.000000,5.000000,5.000000,1.560000,4.000000,181.506462,5.400000,3.900000,4.500000,108.000000
75%,547.000000,2018.000000,120.000000,1.210670e+05,14800.000000,4370.000000,1808.000000,1530.000000,2648.000000,1875.000000,5.000000,5.000000,1.798000,4.000000,191.000000,6.200000,4.300000,5.100000,117.000000
max,824.000000,2022.000000,204.000000,1.199900e+06,25990.000000,4986.000000,2137.000000,1874.000000,3062.000000,2850.000000,5.000000,7.000000,999.000000,5.000000,240.000000,11.500000,7.500000,9.000000,195.000000

In [81]:
#Getting average for Wheelbase(mm)
round(main_car_database['Wheelbase_mm'][main_car_database['Model'] == 'Fiesta'].mean())

2450

In [82]:
main_car_database['Wheelbase_mm'][main_car_database['Wheelbase_mm'] == 0] = round(main_car_database['Wheelbase_mm'][main_car_database['Model'] == 'Fiesta'].mean())

C:\Users\SERGIO~1\AppData\Local\Temp/ipykernel_13828/1388153158.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_car_database['Wheelbase_mm'][main_car_database['Wheelbase_mm'] == 0] = round(main_car_database['Wheelbase_mm'][main_car_database['Model'] == 'Fiesta'].mean())

In [83]:
main_car_database.describe()

,Unnamed: 0,Year,Power_cv,Kilometers,Price_euro,Length_mm,Width_mm,Height_mm,Wheelbase_mm,Weight_kg,Doors,Seats,Cylinders,Cylindernumber,Maxvel,Urbancons,Highwaycons,Meancons,Emissions
count,3441.000000,3441.000000,3441.000000,3.441000e+03,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000
mean,363.304272,2016.544319,103.546062,9.165968e+04,12953.707062,4178.313572,1761.321418,1506.985760,2578.699215,1725.393490,4.767800,4.908457,175.470059,3.705028,181.506462,5.474106,3.970910,4.532171,110.182796
std,219.115987,1.678826,23.652664,5.405174e+04,2174.668444,338.325545,67.161300,73.301925,130.234785,237.265732,0.618389,0.456912,373.464229,0.461167,14.872028,1.189101,0.605824,0.795176,15.266185
min,0.000000,2007.000000,60.000000,1.000000e+00,5490.000000,2695.000000,1559.000000,1404.000000,1867.000000,945.000000,2.000000,2.000000,1.084000,2.000000,140.000000,0.000000,0.000000,0.000000,75.000000
25%,172.000000,2015.000000,90.000000,5.367100e+04,11490.000000,3996.000000,1732.000000,1460.000000,2510.000000,1565.000000,5.000000,5.000000,1.368000,3.000000,170.000000,4.500000,3.500000,3.900000,99.000000
50%,357.000000,2017.000000,100.000000,8.700000e+04,13200.000000,4159.000000,1765.000000,1481.000000,2595.000000,1727.000000,5.000000,5.000000,1.560000,4.000000,181.506462,5.400000,3.900000,4.500000,108.000000
75%,547.000000,2018.000000,120.000000,1.210670e+05,14800.000000,4370.000000,1808.000000,1530.000000,2648.000000,1875.000000,5.000000,5.000000,1.798000,4.000000,191.000000,6.200000,4.300000,5.100000,117.000000
max,824.000000,2022.000000,204.000000,1.199900e+06,25990.000000,4986.000000,2137.000000,1874.000000,3062.000000,2850.000000,5.000000,7.000000,999.000000,5.000000,240.000000,11.500000,7.500000,9.000000,195.000000

In [84]:
main_car_database['Urbancons'][main_car_database['Urbancons'] == 0] = round(main_car_database['Urbancons'][main_car_database['Model'] == 'Picanto'].mean())
main_car_database['Highwaycons'][main_car_database['Highwaycons'] == 0] = round(main_car_database['Highwaycons'][main_car_database['Model'] == 'Picanto'].mean())
main_car_database['Meancons'][main_car_database['Meancons'] == 0] = round(main_car_database['Meancons'][main_car_database['Model'] == 'Picanto'].mean())

C:\Users\SERGIO~1\AppData\Local\Temp/ipykernel_13828/2844330797.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_car_database['Urbancons'][main_car_database['Urbancons'] == 0] = round(main_car_database['Urbancons'][main_car_database['Model'] == 'Picanto'].mean())
C:\Users\SERGIO~1\AppData\Local\Temp/ipykernel_13828/2844330797.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_car_database['Highwaycons'][main_car_database['Highwaycons'] == 0] = round(main_car_database['Highwaycons'][main_car_database['Model'] == 'Picanto'].mean())
C:\Users\SERGIO~1\AppData\Local\Temp/ipykernel_13828/2844330797.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_car_database['Meancons'][main_car_database['Meancons'] == 0] = round(main_car_database['Meancons'][main_car_database['Model'] == 'Picanto'].mean())

In [85]:
main_car_database.describe()

,Unnamed: 0,Year,Power_cv,Kilometers,Price_euro,Length_mm,Width_mm,Height_mm,Wheelbase_mm,Weight_kg,Doors,Seats,Cylinders,Cylindernumber,Maxvel,Urbancons,Highwaycons,Meancons,Emissions
count,3441.000000,3441.000000,3441.000000,3.441000e+03,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000
mean,363.304272,2016.544319,103.546062,9.165968e+04,12953.707062,4178.313572,1761.321418,1506.985760,2578.699215,1725.393490,4.767800,4.908457,175.470059,3.705028,181.506462,5.477012,3.973235,4.534496,110.182796
std,219.115987,1.678826,23.652664,5.405174e+04,2174.668444,338.325545,67.161300,73.301925,130.234785,237.265732,0.618389,0.456912,373.464229,0.461167,14.872028,1.181804,0.598206,0.787732,15.266185
min,0.000000,2007.000000,60.000000,1.000000e+00,5490.000000,2695.000000,1559.000000,1404.000000,1867.000000,945.000000,2.000000,2.000000,1.084000,2.000000,140.000000,2.900000,2.800000,3.100000,75.000000
25%,172.000000,2015.000000,90.000000,5.367100e+04,11490.000000,3996.000000,1732.000000,1460.000000,2510.000000,1565.000000,5.000000,5.000000,1.368000,3.000000,170.000000,4.500000,3.500000,3.900000,99.000000
50%,357.000000,2017.000000,100.000000,8.700000e+04,13200.000000,4159.000000,1765.000000,1481.000000,2595.000000,1727.000000,5.000000,5.000000,1.560000,4.000000,181.506462,5.400000,3.900000,4.500000,108.000000
75%,547.000000,2018.000000,120.000000,1.210670e+05,14800.000000,4370.000000,1808.000000,1530.000000,2648.000000,1875.000000,5.000000,5.000000,1.798000,4.000000,191.000000,6.200000,4.300000,5.100000,117.000000
max,824.000000,2022.000000,204.000000,1.199900e+06,25990.000000,4986.000000,2137.000000,1874.000000,3062.000000,2850.000000,5.000000,7.000000,999.000000,5.000000,240.000000,11.500000,7.500000,9.000000,195.000000

In [86]:
main_car_database.drop(['Unnamed: 0'], axis=1,inplace=True)
main_car_database.drop(['Class'], axis=1,inplace=True)

In [87]:
main_car_database.dtypes

Maker              object
Model              object
Description        object
Name               object
Year                int64
City               object
Color              object
Power_cv            int64
Motor              object
Chasis             object
Kilometers          int64
Fuel               object
Price_euro          int64
Link               object
Length_mm           int64
Width_mm            int64
Height_mm           int64
Wheelbase_mm        int64
Weight_kg           int64
Doors               int64
Seats               int64
Cylinders         float64
Cylindernumber      int64
Maxvel            float64
Urbancons         float64
Highwaycons       float64
Meancons          float64
Emissions           int64
dtype: object

In [88]:
main_car_database.isna().any()

Maker             False
Model             False
Description       False
Name              False
Year              False
City              False
Color             False
Power_cv          False
Motor             False
Chasis            False
Kilometers        False
Fuel              False
Price_euro        False
Link              False
Length_mm         False
Width_mm          False
Height_mm         False
Wheelbase_mm      False
Weight_kg         False
Doors             False
Seats             False
Cylinders         False
Cylindernumber    False
Maxvel            False
Urbancons         False
Highwaycons       False
Meancons          False
Emissions         False
dtype: bool

In [89]:
main_car_database.describe()

,Year,Power_cv,Kilometers,Price_euro,Length_mm,Width_mm,Height_mm,Wheelbase_mm,Weight_kg,Doors,Seats,Cylinders,Cylindernumber,Maxvel,Urbancons,Highwaycons,Meancons,Emissions
count,3441.000000,3441.000000,3.441000e+03,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000
mean,2016.544319,103.546062,9.165968e+04,12953.707062,4178.313572,1761.321418,1506.985760,2578.699215,1725.393490,4.767800,4.908457,175.470059,3.705028,181.506462,5.477012,3.973235,4.534496,110.182796
std,1.678826,23.652664,5.405174e+04,2174.668444,338.325545,67.161300,73.301925,130.234785,237.265732,0.618389,0.456912,373.464229,0.461167,14.872028,1.181804,0.598206,0.787732,15.266185
min,2007.000000,60.000000,1.000000e+00,5490.000000,2695.000000,1559.000000,1404.000000,1867.000000,945.000000,2.000000,2.000000,1.084000,2.000000,140.000000,2.900000,2.800000,3.100000,75.000000
25%,2015.000000,90.000000,5.367100e+04,11490.000000,3996.000000,1732.000000,1460.000000,2510.000000,1565.000000,5.000000,5.000000,1.368000,3.000000,170.000000,4.500000,3.500000,3.900000,99.000000
50%,2017.000000,100.000000,8.700000e+04,13200.000000,4159.000000,1765.000000,1481.000000,2595.000000,1727.000000,5.000000,5.000000,1.560000,4.000000,181.506462,5.400000,3.900000,4.500000,108.000000
75%,2018.000000,120.000000,1.210670e+05,14800.000000,4370.000000,1808.000000,1530.000000,2648.000000,1875.000000,5.000000,5.000000,1.798000,4.000000,191.000000,6.200000,4.300000,5.100000,117.000000
max,2022.000000,204.000000,1.199900e+06,25990.000000,4986.000000,2137.000000,1874.000000,3062.000000,2850.000000,5.000000,7.000000,999.000000,5.000000,240.000000,11.500000,7.500000,9.000000,195.000000

In [90]:
main_car_database['Cylinders'].unique()

array([898.   ,   1.461,   1.396,   1.398,   1.598,   1.199,   1.498,
         1.496,   1.422,   1.364, 999.   ,   1.997,   1.242,   1.586,
         1.197,   1.248,   1.56 ,   2.184,   1.968,   1.956,   1.368,
         1.798, 998.   ,   1.685,   1.198,   1.499,   1.969,   1.194,
         1.582,   1.12 ,   1.596,   1.395,   1.193,   1.39 ,   1.995,
         1.149,   1.591,   2.143,   2.191,   1.084,   1.597,   1.618,
         1.686,   1.998,   1.362,   1.399,   2.179,   1.58 ,   1.497,
         1.388, 875.   ,   1.59 ,   1.33 ,   1.339,   1.49 ,   2.231,
         1.329,   1.984,   1.328,   1.587,   1.999,   2.268,   1.318,
         1.595,   1.397,   2.157,   1.6  ,   1.229])

In [91]:
#Adjusting cylinders in correct dimension
def cylinder_adj(cyl):
    if cyl >5:
        cyl = cyl/1000
             
    return cyl

In [92]:
main_car_database['Cylinders'] = main_car_database['Cylinders'].apply(cylinder_adj)

In [93]:
main_car_database['Cylinders'].unique()

array([0.898, 1.461, 1.396, 1.398, 1.598, 1.199, 1.498, 1.496, 1.422,
       1.364, 0.999, 1.997, 1.242, 1.586, 1.197, 1.248, 1.56 , 2.184,
       1.968, 1.956, 1.368, 1.798, 0.998, 1.685, 1.198, 1.499, 1.969,
       1.194, 1.582, 1.12 , 1.596, 1.395, 1.193, 1.39 , 1.995, 1.149,
       1.591, 2.143, 2.191, 1.084, 1.597, 1.618, 1.686, 1.998, 1.362,
       1.399, 2.179, 1.58 , 1.497, 1.388, 0.875, 1.59 , 1.33 , 1.339,
       1.49 , 2.231, 1.329, 1.984, 1.328, 1.587, 1.999, 2.268, 1.318,
       1.595, 1.397, 2.157, 1.6  , 1.229])

In [94]:
#Clasification cars by segment

In [95]:
(main_car_database['Length_mm'] <= 3700) #SegmentA
#main_car_database[(main_car_database['Length(mm)'] > 3700) & (main_car_database['Length(mm)'] <= 4000 )] #SegmentB
#main_car_database[(main_car_database['Length(mm)'] > 4000) & (main_car_database['Length(mm)'] <= 4500 )] #SegmentC
#main_car_database[(main_car_database['Length(mm)'] > 4500) & (main_car_database['Length(mm)'] <= 4700 )] #SegmentD
#main_car_database[(main_car_database['Length(mm)'] > 4700) & (main_car_database['Length(mm)'] <= 5000 )] #SegmentE
#main_car_database[(main_car_database['Length(mm)'] > 5000)] #SegmentF

0       False
1       False
2       False
3       False
4       False
        ...
5828    False
5847    False
5850    False
5852    False
5854    False
Name: Length_mm, Length: 3441, dtype: bool

In [96]:
def class_segment(dataframe):
    conditions = [(dataframe['Length_mm'] <= 3700),
                  (dataframe['Length_mm'] > 3700) & (dataframe['Length_mm'] <= 4000 ),
                  (dataframe['Length_mm'] > 4000) & (dataframe['Length_mm'] <= 4500 ),
                  (dataframe['Length_mm'] > 4500) & (dataframe['Length_mm'] <= 4700 ),                 
                  (dataframe['Length_mm'] > 4700) & (dataframe['Length_mm'] <= 5000 ),
                  (dataframe['Length_mm'] > 5000)]                
                  

    choices =['SegmentA','SegmentB','SegmentC','SegmentD','SegmentE','SegmentF']

    dataframe['Segment'] = np.select(conditions,choices)

    return dataframe

In [97]:
class_segment(main_car_database)

,Maker,Model,Description,Name,Year,City,Color,Power_cv,Motor,Chasis,...,Doors,Seats,Cylinders,Cylindernumber,Maxvel,Urbancons,Highwaycons,Meancons,Emissions,Segment
0,NISSAN,Micra,IG-T S&S Acenta 90,NISSAN Micra IG-T S&S Acenta 90,2018,Las Palmas,azul,90,Manual,Berlina,...,5,5,0.898,3,175.000000,6.3,4.5,5.2,118,SegmentB
1,RENAULT,Clio,1.5dCi eco2 S&S Energy Business 90,RENAULT Clio 1.5dCi eco2 S&S Energy Business 90,2016,Granada,blanco,90,Manual,Berlina,...,5,5,1.461,4,178.000000,4.1,3.3,3.6,93,SegmentC
2,KIA,Cee´d,1.4CRDI WGT Business 90,KIA Cee´d 1.4CRDI WGT Business 90,2017,Sevilla,negro,90,Manual,Berlina,...,5,5,1.396,4,173.000000,5.1,3.7,4.2,109,SegmentC
3,RENAULT,Clio,1.5dCi eco2 Energy Authentique 75,RENAULT Clio 1.5dCi eco2 Energy Authentique 75,2014,Barcelona,plata,75,Manual,Berlina,...,5,5,1.461,4,168.000000,4.3,3.2,3.6,85,SegmentC
4,OPEL,Corsa,1.4 Selective 90,OPEL Corsa 1.4 Selective 90,2018,Málaga,gris,90,Manual,Berlina,...,5,5,1.398,4,175.000000,6.5,4.3,5.1,120,SegmentC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5828,FORD,Focus,1.0 Ecoboost Auto-S&S ST-Line 125,FORD Focus 1.0 Ecoboost Auto-S&S ST-Line 125,2017,Albacete,azul,125,Manual,Berlina,...,5,5,0.999,3,181.506462,5.7,4.1,4.7,108,SegmentC
5847,RENAULT,Mégane,1.2 TCe Energy Tech Road 97kW,RENAULT Mégane 1.2 TCe Energy Tech Road 97kW,2017,Madrid,Other,130,Manual,Berlina,...,5,5,1.197,4,197.000000,6.8,4.5,5.3,119,SegmentC
5850,FORD,Fiesta,1.0 EcoBoost S/S Titanium 100,FORD Fiesta 1.0 EcoBoost S/S Titanium 100,2017,Madrid,azul,100,Manual,Berlina,...,5,5,0.998,3,183.000000,5.4,3.6,4.3,110,SegmentC
5852,RENAULT,Clio,Sport Tourer 1.5dCi Energy Business 55kW,RENAULT Clio Sport Tourer 1.5dCi Energy Busine...,2019,Madrid,blanco,75,Manual,Stationwagon,...,5,5,1.461,4,168.000000,4.3,3.2,3.6,106,SegmentC
5854,FORD,Focus,1.5TDCi Trend+ 120,FORD Focus 1.5TDCi Trend+ 120,2018,Valencia,negro,120,Manual,Berlina,...,5,5,1.498,4,181.506462,4.3,3.4,3.8,105,SegmentC

In [98]:
main_car_database.describe()

,Year,Power_cv,Kilometers,Price_euro,Length_mm,Width_mm,Height_mm,Wheelbase_mm,Weight_kg,Doors,Seats,Cylinders,Cylindernumber,Maxvel,Urbancons,Highwaycons,Meancons,Emissions
count,3441.000000,3441.000000,3.441000e+03,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000
mean,2016.544319,103.546062,9.165968e+04,12953.707062,4178.313572,1761.321418,1506.985760,2578.699215,1725.393490,4.767800,4.908457,1.389446,3.705028,181.506462,5.477012,3.973235,4.534496,110.182796
std,1.678826,23.652664,5.405174e+04,2174.668444,338.325545,67.161300,73.301925,130.234785,237.265732,0.618389,0.456912,0.280619,0.461167,14.872028,1.181804,0.598206,0.787732,15.266185
min,2007.000000,60.000000,1.000000e+00,5490.000000,2695.000000,1559.000000,1404.000000,1867.000000,945.000000,2.000000,2.000000,0.875000,2.000000,140.000000,2.900000,2.800000,3.100000,75.000000
25%,2015.000000,90.000000,5.367100e+04,11490.000000,3996.000000,1732.000000,1460.000000,2510.000000,1565.000000,5.000000,5.000000,1.199000,3.000000,170.000000,4.500000,3.500000,3.900000,99.000000
50%,2017.000000,100.000000,8.700000e+04,13200.000000,4159.000000,1765.000000,1481.000000,2595.000000,1727.000000,5.000000,5.000000,1.461000,4.000000,181.506462,5.400000,3.900000,4.500000,108.000000
75%,2018.000000,120.000000,1.210670e+05,14800.000000,4370.000000,1808.000000,1530.000000,2648.000000,1875.000000,5.000000,5.000000,1.582000,4.000000,191.000000,6.200000,4.300000,5.100000,117.000000
max,2022.000000,204.000000,1.199900e+06,25990.000000,4986.000000,2137.000000,1874.000000,3062.000000,2850.000000,5.000000,7.000000,2.268000,5.000000,240.000000,11.500000,7.500000,9.000000,195.000000

Now we have a clean dataframe to use

In [99]:
main_car_database.to_csv('main_car_database.csv')